<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>ChillAppz - Freezer Drink Timer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <div class="context">
      <div class="container">
        <div class="row header">
          <div class="col-md-12"></div>
          <h1>ChillAppz - Freezer Drink Timer</h1>
          <div
            id="successMessage"
            class="alert alert-success"
            style="display: none"
          >
            Custom drink added successfully!
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 select-drink-section mx-auto">
            <h2>Are you thirsty? Select a Drink</h2>
            <form action="/selectDrink" method="POST">
              <input
                type="text"
                id="filterText"
                placeholder="Enter the name of the drink you want to freeze"
              />
              <select id="selectedDrink" name="selectedDrink" class="drinkList">
                <option value="select">Select a Drink</option>
                <% for (let i=0; i < drinkOptions.length; i++) { %>
                <option value="<%= drinkOptions[i].drinkName %>">
                  <%= drinkOptions[i].drinkName %>
                </option>
                <% } %>
                <option value="Custom">Custom</option>
              </select>
              <button type="submit">Select Drink</button>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 custom-drink-section mx-auto">
            <h2>Don't have your favorite drink? Add Your Custom Drink</h2>
            <form action="/addCustomDrink" method="POST">
              <div class="custome-container">
                <input
                  type="text"
                  id="customDrinkName"
                  name="customDrinkName"
                  placeholder="Enter the drink name"
                />
                <input
                  type="text"
                  id="freezingTime"
                  name="freezingTime"
                  placeholder="Enter freezing time (minutes)"
                />
              </div>
              <button type="submit">Add Custom Drink</button>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 set-timer-section mx-auto">
            <div class="time-header">
              <h2>Set Timer</h2>
              <% if (selectedDrink !== undefined && selectedDrink !== '') { %>
              <p>Selected Drink: <%= selectedDrink %></p>
              <% } %>
            </div>
            <form id="timerForm">
              <div class="time-container">
                <p>
                  Minute:
                  <input
                    type="number"
                    id="minutesInput"
                    class="time"
                    placeholder="Enter minutes"
                    value="<%= selectedFreezingMinute !== undefined ? selectedFreezingMinute : '' %>"
                  />
                </p>

                <p>
                  Seconds:
                  <input
                    type="number"
                    id="secondsInput"
                    class="time"
                    placeholder="Enter seconds"
                    value="<%= selectedFreezingSecond !== undefined ? selectedFreezingSecond : '' %>"
                  />
                </p>
              </div>
              <button type="button" id="startButton">Start</button>
              <button type="button" id="pauseButton" disabled>Pause</button>
            </form>
            <div id="countdownDisplay">0:00</div>
            <div id="countupDisplay"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="area">
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/ui-control.js"></script>
    <script src="/timer.js"></script>
  </body>
</html>
